* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: lightblue;
    position: fixed;
    top: 0px;
    width: 100%;
    
    
    
}
h1 {
    display: inline;
}
li {
    display: inline;
}
figure {
    background-color: lightgoldenrodyellow;
    display: block;
    margin: auto;
}
figcaption {
    display: block;
    margin: auto;
    text-align: center;
}
img {
    display: block;
    margin: auto;
}
#contact {
    background-color: greenyellow;
    display: block;
    margin: auto;
}
#contact h2 {
    text-align: center;
}
form {
    display: block;
    text-align: center;
    padding: 10px;
    
}

footer {
    background-color: hotpink;
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
}